@use '../utils/mixins' as *;

.contacts {
  &__content {
    @include contacts-grid;
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    font-family: Poppins, sans-serif;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__header {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    font-family: Poppins, sans-serif;
    margin-bottom: 8px;
  }

  &__value {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    font-family: Poppins, sans-serif;
    color: #fff;
  }
}
